# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfstate.backup
.terraform.lock.hcl
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Credentials - NE JAMAIS COMMITER
credentials.auto.tfvars
*.secret.tfvars
*credentials*.tfvars
secrets.tfvars

# Plan files
*.tfplan
*tfplan*

# Ignore CLI configuration files
.terraformrc
terraform.rc

